.label {
  position: relative;

  &.icon,
  &.search {
    svg {
      position: absolute;
      top: 50%;
      left: 18px;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
    }

    input {
      padding-left: var(--space-xl);
    }
  }
}

.input {
  border: 1px solid var(--c-grey-200);
  border-radius: var(--radius-md);
  padding: 13px 13px 15px;
  min-width: 250px;
  font: var(--font-md);
  transition: 0.3s ease;

  &::placeholder {
    color: var(--c-grey-600);
  }

  &:is(:focus, &:hover) {
    outline: none;
    box-shadow: 0 0 4px 1px var(--c-primary);
  }
}