.btn {
  &:disabled {
    background-color: var(--c-grey-200);
    cursor: not-allowed;
  }
}

.none {

}

// colors
.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  border-radius: var(--radius-lg);
  width: 100%;
  min-height: 55px;
  font: var(--font-btn);
  color: var(--c-white);
  background-color: var(--c-primary);
}

.right {
  svg {
    order: 2;
  }
}

// sizes

.sm {
  min-height: 40px;
  font-size: 12px;
  width: auto;
  padding: 0 12px;
  border-radius: var(--radius-md);
}