.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-md) var(--space-lg);
  border: 1px solid var(--c-grey-200);
  border-radius: var(--radius-lg);
  gap: var(--space-sm);
  transition: 0.3s ease;
  cursor: pointer;
  width: 100%;
}