.aside {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 2;
  padding: 32px 30px;
  width: 385px;
  height: 100%;
  background-color: var(--c-white);
  transition: 0.6s ease-in-out;
  overflow: scroll;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.open {
  right: 0;
}

.aside h2 {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 29px;
}